* {
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    overflow: hidden
}

body {
	width: 1000px;
    margin: 0 auto;
	background-color: #0B0D0F;
	color: #eee;
	font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: auto;
	margin-top: 0.1em;
    width: 100%;
    font-weight: 100;
	font-size: 5em;
	text-align: center;
}

header {
	margin-top: 0.3em;
	font-size: 0.6em;
	color: #a9a9a9;
}

#logo {
	margin-top: 0.4em;
	margin-bottom: 2em;
	height: 50px;
	width: 50px;
	background-size: 50px 50px;
	background-image: url("bike_50@2x.png");
	background-repeat: no-repeat;
}

div {
	margin: 0 auto;
	padding: 0;
}

#question, #answer {
	display: block;
	padding-top: 5px;
	margin: 0 auto;
	text-align: center;
}

#question {
	margin-top: 70px;
}

#answer {
	font-size: 1.2em;
}

#boxContainer {
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#boxContainer div {
	align-items: center;
	padding: 20px 20px 0 20px;
}

.infoBox span {
	font-size: 0.4em;
	display: block;
}

@media screen and (max-width: 1000px) {
	body {
		width: 100%;
	}

	header span {
		font-size: 0.5em;
	}

	#logo {
		margin-top: 0.8em;
		margin-bottom: 1em;
	}

	#question {
		font-size: 0.4em;
	}

	#answer {
		font-size: 0.7em;
	}

	#boxContainer div {
		width: 50%;
	}
}

/* iPad Pro */
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) {
	.infoBox span {
		font-size: 0.5em;
	}
}

/* iPad */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px){
	header span {
		font-size: 0.9em;
	}

	#answer {
    	font-size: 1.2em;
	}
}

/* iPad landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	header span {
		font-size: 0.9em;
	}

	.infoBox span {
		font-size: 0.3em;
	}

	#logo {
		margin-bottom: 1em;
	}
}

@media screen and (max-width: 700px) {
	header {
		font-size: 0.7em;
	}

	.infoBox span {
		font-size: 0.7em;
	}
}

@media screen and (max-width: 440px) {
	header {
		margin-top: -0.5em;
		font-size: 0.6em;
	}

	#logo {
		margin-top: 0.4em;
		margin-bottom: 0.6em;
	}

	#question {
		margin-top: 50px;
	}

	.infoBox span {
		font-size: 0.22em;
	}

@media screen and (max-width: 280px) {
	.infoBox span {
		font-size: 0.4em;
	}
}
